# Disable all components except PostgreSQL and Consul
roles ['postgres_role']

repmgr['enable'] = false
patroni['enable'] = false

# PostgreSQL configuration
postgresql['listen_address'] = '0.0.0.0'
postgresql['sql_user_password'] = "{{ (praefect_postgres_password + 'praefect') | md5 }}"
postgresql['trust_auth_cidr_addresses'] = {{ postgres_trust_auth_cidr_blocks }}
postgresql['shared_preload_libraries'] = 'pg_stat_statements'

gitlab_rails['auto_migrate'] = false

# Consul
consul['enable'] = true
consul['configuration'] = {
  bind_addr: '{{ ansible_default_ipv4.address }}',
  retry_join: %w({{ (consul_int_addrs | join(' ')) if 'consul' in groups else consul_single_server_int_addr }})
}
consul['monitoring_service_discovery'] = true

# Monitoring
postgres_exporter['listen_address'] = '0.0.0.0:9187'
node_exporter['listen_address'] = '0.0.0.0:9100'

custom_confs = Dir.glob(File.join("/etc/gitlab/", "gitlab.praefect_postgres.*.rb"))
custom_confs.each { |conf|
  from_file conf
}
